.slide
{
    display: none;
}

.slide-container
{
    max-width: 1000px;
    position: relative;
    margin: 0.5cm;
}
#center{
    display: block;
    margin: auto;

}
.small-image{
  

}
img{
    border: 1px dotted black;
}
.icon{
    margin-top: 10px;
    margin-bottom: 3px;
}
.noboder{
    border: none;
}
#icon2
{
    display: block;
    margin: auto;

}
.box
{
    display: flex;
    align-items: flex-end;
    
    
}
#sefl
{
    align-self: flex-end;
}
.border-dotted{
    border-style: dotted;
    max-width: 100%;
    height: auto;
   }

img.phone{
    width: 100px;
    height: 100px;
}